.showroom-icon {
height: 33px;
}

.search-bar select {
border-radius: 50px 0 0 50px;
}

.search-bar input {
border-radius: 0;
}

.search-bar .btn-outline-success {
background-color: #38c172;
color: #fff;
border-radius: 0 50px 50px 0;
margin-right: 20px;
}

.search-bar .btn-outline-success:hover {
color: #38c172;
background-color: #fff;
border-radius: 0 50px 50px 0;
margin-right: 20px;
}

.explore{
    border-color: #38c172;
    background-color: #38c172;
    color: #fff;
    border-radius: 50px 50px 50px 50px;
    margin-left: 20px;
}

.explore:hover{

    border-color: #38c172;
    color: #38c172;
    background-color: #fff;
    border-radius: 50px 50px 50px 50px;
    margin-left: 20px;
}

.btn{
    border-radius: 50px 50px 50px 50px;
}

.btn:hover{
    border-radius: 50px 50px 50px 50px;
}

.btn-primary{
    border-color: #38c172;
    background-color: #38c172;
    color: #fff;
}

.btn-primary:hover{
    border-color: #38c172;
    color: #38c172;
    background-color: #fff;
}

.btn-delete{
    border-color: #D13621;
    background-color: #D13621;
    color: #fff;
}

.btn-delete:hover{
    border-color: #D13621;
    color: #D13621;
    background-color: #fff;
}

.new_gallery{
    margin-right: 10px;
}




.welcome-header {
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-top: -30px;
    text-align: center;
}

.welcome-header .blackish {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    color: #EEE;
}

.welcome-header .blackish .welcome-text {
    padding-top: 65px;
    font-size: 70px;
}

.painting-card{
    margin-bottom: 10px;
}

.card-painting-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.painting-text{
    padding-left: 10px;
}
