.carousel-inner, .carousel-item{
    width: 100%;
    height: 500px;
    color: #EEE;
}

.carousel-caption .headers, .carousel-caption .para{
    color: #EEE;
}

.blackish {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    color: #EEE;
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
